<html>
    <head>
        <meta charset="utf-8">
        <title>DogHero</title>
        <link rel="icon" href="/estatico/img/doghero-logo1.png">
        <link rel="stylesheet" href="/estatico/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/estatico/css/fontawesome.min.css" />
        <link rel="stylesheet" href="/estatico/css/doghero.css" />
    </head>
    <body>
        <header class="cabecalhoPrincipal">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-4">
                        <h1 class="logo-header"><img src="/estatico/img/logo-branco.png" alt="Logo Doghero" /></h1>
                    </div>
                    <div class="cabecalhoPrincipal-navegacao col-8">
                        <for|usuario, index| of=data.usuarios>
                        <div id="usuario_${usuario.id}">
                        <a href="/usuarios/form/${usuario.id}" class="cadastro">
                        <img src="/estatico/img/man.png" alt="avatar"/></a>
                        </div>    
                        </for> 
                        <a href="/pets" class="pets">Meus pets</a>  
                        <a href="/passeadores/lista" class="passeador">Heróis</a>
                        <a href="/passeios/lista" class="passeio">Passeios</a>          
                    </div>
                </div>
            </div>
        </header>
        <main class="conteudoPrincipal">
            <h1>NOT FOUND</h1>
            <p>Página não encontrada!</p>
            <a href="/pets">Voltar</a>
        </main> 
        <footer class="rodape">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-4">
                        <img src="/estatico/img/logo.png" class="logo-rodape" />
                    </div>
                    <div class="col-8">
                        <ul class="redesSociais">
                            <li><a href="http://www.facebook.com/dogherobrasil" class="compartilhar-facebook" target="_blank">/DogHero</a></li>
                            <li><a href="http://www.twitter.com/dogherobrasil" class="compartilhar-twitter" target="_blank">@doghero</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
	</body>
</html>
 