<html>
	<head>
        <meta charset="UTF-8">  
		<title>DogHero</title>
		<meta charset="utf-8">
        <link rel="icon" href="/estatico/img/doghero-logo1.png">
        <link rel="stylesheet" href="/estatico/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/estatico/css/site.css">
    </head>
    <body>
    <header>
        <img src="/estatico/img/logo.png" alt="logo" class="logo-header">
        <nav class="menu">
				<ul id="main-menu">
                    <li><a href="https://www.doghero.com.br/" target="_blank">Home</a></li>
                    <li><a href="https://www.doghero.com.br/ser-passeador" target="_blank">Seja um herói</a></li>
                    <li><a href="https://www.doghero.com.br/como-funciona" target="_blank">Como funciona</a></li>
                    <li><a href="https://passeios.doghero.com.br/dog-walker/" target="_blank">Serviços</a></li>
					<li><a href="https://www.doghero.com.br/dog-walker/book" target="_blank">Encontre seu herói</a></li>
                    <li><a href="https://love.doghero.com.br/" target="_blank">Blog</a></li>
                   </ul>
			</nav>
    </header>
    
    <main class="conteudoPrincipal">
        <div class="container">
            <h1>Opss!</h1>
            
            <p>Houve um problema. Tente mais tarde.</p>
            <a href="/">Voltar</a>
        </div>
    </main>

    <footer>
            <img src="/estatico/img/logo-branco.png" alt="logo" class="logo-footer">
                <nav class="redes-sociais">
                    <ul>
                        <li><a class="facebook" href="https://www.facebook.com/dogherobrasil/" target="_blank">
                            <img src="/estatico/img/facebook.png" alt="facebook dog hero" width=30></a></li>
                        <li><a class="youtube" href="https://www.youtube.com/channel/UCARJzcLjM850qF0E45mw03g" target="_blank">
                            <img src="/estatico/img/youtube.png" alt="youtube dog hero" width=30></a></li>
                        <li><a class="twitter" href="https://twitter.com/dogherobrasil" target="_blank">
                            <img src="/estatico/img/twitter.png" alt="twitter dog hero" width=30></a></li>
                    </ul>
                    </nav>                    
		</footer>
	</body>
</html>  