*{
    margin: 200; 
    padding: 200; 
    list-style: none;
    font-family: Helvetica, sans-serif;
}

header {
    position: relative;
    width: 1220px;
    max-width: 90%;
    height: 90px;
    top: 0px;
    right: 0px;
    left: 0px;
    padding-bottom: 5px;
    margin: 0px auto;
    
  }
  
  .logo-header {
    position: absolute;
    width: 140px;
    top: 0px;  
    bottom: 0px;
    left: 0px;
  }

 .menu ul {
    position: absolute;
    padding:25px;
    margin-left:10px;
    margin-top:8px;
    list-style:none;
    right:0;
    font-size: 13px;
}

.menu ul li { 
    display: inline;
}

.menu ul li a {
    color:#666;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    padding: 5px 10px;
}

.menu ul li a:hover {
   border-bottom:3px solid #EA0000;
}

footer {
    position: absolute;
    background-color: #444;
    height: 100px;
    width: 100%;
    margin-top: 2em;
}

.logo-footer {
    position: absolute;
    width: 200px;
    top: 0px;  
    bottom: 0px;
    left: 0px;
    margin: 20px;
  }

  .redes-sociais {
    clear:both;
    width:30px;
    top: 0px;
    right:0; 
    bottom: 0px;
  }

.redes-sociais ul li{
    display: inline;
}

.redes-sociais ul {
    padding:25px;
    list-style:none;
    right:0;
    position:absolute;
    margin-left: 5px;
    }



